<!DOCTYPE html>
<html>
	<head>
		<title>Thingcollector</title>
		<link href="/static/bootstrap.min.css" rel="stylesheet">
		<script src="/static/jquery-2.1.1.min.js"></script>
		<script src="/static/bootstrap.min.js"></script>
		{% block tracking %}
		{% if config.piwik_url is defined and config.piwik_id is defined %}
			<script type="text/javascript">
				var _paq = _paq || [];
					_paq.push(['trackPageView']);
				_paq.push(['enableLinkTracking']);
					(function() {
					 var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{ config.piwik_url }}/";
					 _paq.push(['setTrackerUrl', u+'piwik.php']);
					 _paq.push(['setSiteId', {{ config.piwik_id }}]);
					 var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
					 g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
				 })();
			</script>
			<noscript><p><img src="http://{{ config.piwik_url }}/piwik.php?idsite={{ config.piwik_id }}" style="border:0;" alt="" /></p></noscript>
		{% endif %}
		{% endblock %}
		<style>
			html {
				position: relative;
				min-height: 100%;
			}
			body {
				/* Margin bottom by footer height */
				margin-bottom: 60px;
				margin-top: 60px;
			}
			.footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				/* Set the fixed height of the footer here */
				height: 60px;
			}
		</style>
	</head>

	<body>
		{% block navbar %}
		 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/search">Thingcollector</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/search">Search</a></li>
						<li><a href="/list/trackers">Trackers</a></li>
						<li><a href="/list/things">Things</a></li>
						<li><a href="/submit">Submit Trackers</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
		{% endblock %}
		<div class="container">
		{% block content %}Content{% endblock %}
		</div>

		<div class="footer">
			<div class="container">
				<p class="text-muted">Copyright by Johannes Reinhardt</p>
			</div>
		</div>
	</body>
</html>
