<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
	<h1>Search things</h1>
	<form method="POST" action="/search">
		{{ form.csrf_token }}
		{{ form.query.label }} {{ form.query(size=20) }}
		<input type="submit" value="Go">
	</form>
	{% if results != [] %}
		{% for result in results %}
			{% if result.url != "" %}
				<li><a href={{result.url}}>{{ result.title }}</a></li>
			{% else %}
				<li>{{ result.title }}</li>
			{% endif %}
		{% endfor %}
	{% else %}
		No results found
	{% endif %}
	</ul>
	</body>
</html>
