{% extends "base.html" %}

{% block content %}
	<h1>Search</h1>
	<label>Search the thingtracker network</label>

	<form class="form-search" method="POST" action="/search">
		{{ form.csrf_token }}
		{{ form.query(size=20,value=query) }}
		<input type="submit" class="btn btn-primary" value="Go">
	</form>

	{% if results is none %}
	{% elif results != [] %}
		<h2>Results</h2>
		<table class="table table-striped table-bordered">
			<tbody>
			{% for result in results %}
				<tr>
				{% if result.url != "" %}
					<td><a href={{result.url}}>{{ result.title }}</a></td>
				{% else %}
					<td><a href="/show/thing/{{ thing.id }}">{{ thing.title }}</a></td>
				{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		<h2>No results found</h2>
	{% endif %}
{% endblock %}
