{% extends "base.html" %}

{% block content %}
	<h1>Submit Trackers</h1>
	<label>Tell this collector about a Thingtracker</label>
	{% if messages %}
		<div class="form-group has-error">
			<form method="POST" action="/submit">
				{{ form.csrf_token }}
				{{ form.url(size=20) }}
				<input type="submit" value="Go">
			</form>
		</div>
		<h2>Errors</h2>
		<table class="table table-striped table-bordered">
			<tbody>
			{% for message in messages %}
			<tr><td>{{ message }}</td></tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
	<div class="form-group">
		<form method="POST" action="/submit">
			{{ form.csrf_token }}
			{{ form.url(size=20) }}
			<input type="submit" value="Go">
		</form>
	</div>
	{% endif %}
{% endblock %}
